* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
}

.sidebar {
  padding: 10px;
  height: 100%;
  width: 30%;
}

.search-box {
  width: 90%;
  margin: 0 10px;
}

.filter-box {
  width: 90%;
  margin: 0 10px;
}

#map {
  height: 100%;
  width: 70%;
}

/************** infowindow ************/
.info-header {
  text-align: center;
}

.info-row {
}

.info-btns-list {
  overflow: auto;
  padding: 0;
  margin: 10px 0;
  width: 100%;
}

.info-btns-list > li {
  float: left;
  display: block;
  width: 50%;
  text-align: center;
}

.info-btns-list > li >a {
  display: block;
  border: 1px solid #000;
  text-decoration: none;
}
