* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  height: 100%;
  display: flex;
  overflow: hidden;
}

/************** sidebar ************/
.app-loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  background: rgba(140, 140, 140, 0.7);
  z-index: 10000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-loading img{
  display: block;
  width: 32px;
}

.loading-msg {
  display: none;
  z-index: 100000;
  text-align: center;
  color: #fff;
  font-size: 1.5em;
}

.loading-msg-err {
  color: #f00;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.sidebar {
  background: #2e3d49;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  z-index: 10;
  transition: width 0.2s ease-in-out;
  height: 100%;
}

.sidebar-header {
  color: #f3f3f3;
  margin: 0 0 10px 0;
  text-align: center;
}

.sidebar-content {
  overflow: hidden;
  height: 100%;
}

.sidebar-container {
  padding: 10px;
  height: 100%;
  width: 18rem;
  display: flex;
  flex-flow: column nowrap;
}

.expanded {
  width: 18rem;
}

.side-btn-panel {
  position: absolute;
  right: -1.9em;
  display: flex;
  flex-flow: column nowrap;
}

.btn-toggle::after {
  content: '\f0c9';
  font-family: FontAwesome;
  font-size: 1.5em;
  background: #2e3d49;
  padding: 5px;
  color: #f3f3f3;
  display: block;
  margin-bottom: 5px;
}

.btn-global::after {
  content: '\f0ac';
  font-family: FontAwesome;
  font-size: 1.5em;
  background: #2e3d49;
  padding: 5px;
  color: #f3f3f3;
  display: block;
  margin-bottom: 5px;
}

.btn-current::after {
  content: '\f124';
  font-family: FontAwesome;
  font-size: 1.5em;
  background: #2e3d49;
  padding: 5px;
  color: #f3f3f3;
  display: block;
}

.search-view {
  display: flex;
  margin: 0 0 10px 0;
}

.search-view::before {
  content: '\f067';
  font-family: FontAwesome;
  font-size: 1.2em;
  color: #f3f3f3;
  width: 1.2em;
  display: inline-block;
  padding: 4px 0 0 0;
}

.input-box {
  width: 100%;
}

.list-view {
  overflow: auto;
}

.filter-view {
  display: flex;
  margin: 0 0 10px 0;
}

.filter-view::before {
  content: '\f002';
  font-family: FontAwesome;
  font-size: 1.2em;
  color: #f3f3f3;
  display: inline-block;
  width: 1.2em;
  padding: 4px 0 0 0;
}

.list-view {
  margin: 0;
  color: #f3f3f3;
}

.place-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: scroll;
}

.place-item {
  padding: 0;
  margin-bottom: 5px;
  border-bottom: 1px solid #3a4b59;
}

.place-item-name {
  display: inline-block;
  padding: 5px 0;
  width: 88%
}

.place-item-name:hover {
  cursor: pointer;
}

.place-item-remove {
  display: inline-block;
  padding: 5px 0;
  width: 10%;
  text-align: right;
  border-left: 1px solid #3a4b59;
}

.place-item-remove::before {
  content: '\f014';
  font-size: 1.2em;
  font-family: FontAwesome;
}

.place-item-name:hover, .place-item-remove:hover {
  color: #02b3e4;
}

/************** end of sidebar ************/

/************** map view ************/
.map-container {
  width: 100%;
  height: 100%;
}

#map {
  height: 100%;
}

/************** end of map view ************/

/************** infowindow ************/
.info-window {
  display: flex;
  flex-flow: column nowrap;
  width: 15rem;
  height: 22rem;
  overflow: scroll;
}

.info-header {
  padding: 5px 5px 0 5px;
}

.info-title {
  text-align: center;
  margin: 0 0 10px 0;

}

.info-btns-list {
  overflow: auto;
  padding: 0;
}

.info-btns-list > li {
  float: left;
  display: block;
  width: 33.3%;
  text-align: center;
}

.info-btns-list > li >a {
  display: block;
  border: 1px solid #000;
  padding: 5px 0;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.info-btns-list > li >a:hover {
  color: #fff;
  background: #48b5e9;
}

.active {
  color: #fff;
  background: #48b5e9;
}

.info-btns-list > li + li {
  margin-left: -1px;
}

.info-content {
  overflow: auto;
}

.loading-icon {
  display: block;
  margin: 10px auto;
}

.flickr-item {
  padding: 5px 0;
  border-bottom: 1px solid #9b9b9b;
}

.flickr-item-header {
  text-align: center;
  margin: 0;
  padding: 0;
}

.flickr-item-img {
  max-width: 13rem !important;
  display: block;
  margin: 0 auto;
}

.google-info-line {
  display: flex;
  padding: 5px 0;
  margin: 0 5px;
  font-size: 1.1em;
}

.google-info-icon {
  width: 20px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.google-info-text {

}

.google-info-photo {
  margin: 0 auto;
  display: block;
}

.wiki-item {
  padding: 5px 0;
  border-bottom: 1px solid #9b9b9b;
}

.wiki-item-header {
  margin: 0 0 5px 0;
  text-align: center;
}

.wiki-item-header, .wiki-item-header a {
  text-decoration: none;
  color: #000;
}

.wiki-item-header::after {
  content: ' \f08e';
  font-family: FontAwesome;
}

.wiki-item-img {
  max-width: 13rem !important;
  display: block;
  margin: 0 auto;
}

.wiki-item-description {
}

.additional-info-credit {
  font-size: 0.8em;
}

.ajax-error {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em;
  color: #f00;
}

/************** end of infowindow ************/
/*small window*/
@media (max-width: 767px) {
  .sidebar {
    position: absolute;
  }
}

/*large window*/
@media (min-width: 768px) {

}
